<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/styles.css" />
<head>
<title>Gerenciador de URLs</title>
</head>
<body>
	<header th:insert="~{header :: header}"></header>

	<h1 style="text-align: center;">Gerenciador de Patos</h1>


	<!-- Lista de URLs -->
	<table>
		<thead>
			<tr>
				<th>Patos</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="url : ${urls}">
				<td><img th:src="${url}" alt="Imagem do Pato" /></td>
				<td>
					<form action="/removeUrl" method="POST" style="display: inline;">
						<input type="hidden" name="url" th:value="${url}" />
						<button type="submit">Remover</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>