<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pato</title>
    <script>
        function atualizarTextoBotao(botao) {
            botao.textContent = "Gerando um pato";
        }
    </script>
</head>
<body>
    <div th:if="${url != null}">
        <h2>Pato</h2>
        <img th:src="${url}" alt="Imagem do Pato" />
    </div>
    <form action="/pato" method="GET">
        <!-- O botão chama a função JavaScript ao ser clicado -->
        <button type="submit" onclick="atualizarTextoBotao(this)">Gerar Pato</button>
    </form>
</body>
</html>
